Source: dictem
Section: text
Priority: optional
Maintainer: Yauheni Kaliuta <y.kaliuta@gmail.com>
Build-Depends: debhelper (>= 5.0.0)
Uploaders: Igor Stroh <jenner@debian.org>
Standards-Version: 3.8.3
Homepage: http://www.mova.org/~cheusov/pub/dictem

Package: dictem
Architecture: all
Depends: dict (>> 1.9.14), emacs23 | emacsen
Provides: dict-client
Description: Dict client for emacs
 DictEm implements all functions of the client part of Dictionary
 Server Protocol(DICT) protocol (RFC-2229, www.dict.org), i.e looking
 up words and definitions, obtaining information about available
 strategies, provided databases, information about DICT server etc.
 .
 It uses autocompletion that is used for selecting dictionary and 
 search strategy.  Moreover, DictEm provides several hooks which 
 may be used for buffer postprocessing.
 .

