#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1

override_dh_auto_install:
	dh_auto_install
	for i in *.el; do \
		install -m644 $$i \
			$(CURDIR)/debian/dictem/usr/share/emacs/site-lisp/dictem/ ; \
	done


%:
	dh $@
